html, body {
  margin: 0;
  padding: 0;
}

.TopBlock {
  background-color: #404040;
}

.TopBlock a{
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px 15px;
  font-size: 15px;
}

.TopBlock a:hover{
  background-color: #d0f906;
}

.TopBlock a.CurrentActive{
  background-color: #f5ed00;
  color: #404040;
}

canvas {
  display: block;
}