body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.TopBlock {
  overflow: hidden;
  background-color: #000000;
}

.TopBlock a{
  float: left;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
}

.TopBlock a:hover{
  background-color: #f5ed00;
  color: #404040;
}

.TopBlock a.CurrentActive{
  background-color: #f5ed00;
  color: #404040;
}

canvas {
  display: block;
}